#Math {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#Blog3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: blue;
  text-align: center;
}

#Number3 {
  text-align: center;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
