#Intro {
  border-radius: 10px;
  text-align: center;
  color: blue;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif; /* Corrected the 'serifs' to 'serif' */
}

#macbook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#Number2,
#second {
  text-align: center;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#second {
  text-align: center;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

#Exam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

#Button_1 {
  display: block;
  margin: auto;
  border-radius: 10px;
  font-size: 18px;
  color: blueviolet;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none; /* Remove underline from the link */
  background-color: #f0f0f0; /* Optional: Add a background color */
  border: 1px solid blueviolet; /* Optional: Add a border */
}
